
/* 工具css */

.back-grid {
  --color: var(--color-slate-200);
  --size: 10px;
  --begin: 1px;
  --end: 9px;
  background-image: 
    linear-gradient(to bottom,transparent var(--end),var(--color) var(--begin)),
    linear-gradient(to right,transparent var(--end),var(--color) var(--begin)) ;
  background-size: var(--size) var(--size);
  background-repeat: repeat;
}

.dark .back-grid {
 --color: var(--color-slate-600);
 background-image: 
    linear-gradient(to bottom,transparent 29px,var(--color) 1px),
    linear-gradient(to right,transparent 29px,var(--color) 1px) ;
  background-size: 30px 30px;
  background-repeat: repeat;
}

.min-page-y {
  min-height: calc(100vh - 70px);
}

.min-article-y {
  min-height: calc(100vh);
}

.born {
  animation: born .4s ease-out;
}

.born-full {
  animation: born-full .3s ease-out;
}

.fade-in {
  animation: fade-in .4s ease-in;
}

.born-blur {
  animation: born-blur .3s ease-in;
}

@keyframes born-blur {
  from {
    filter: blur(3px);
    transform: scaleY(.8);
  }
  to {
    filter: blur(0);
    transform: scaleY(1);
  }
}

@keyframes born {
  from {
    transform: scale(.8);
  }
  to {
    transform: scale(1);
  }
}
@keyframes born-full {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}