---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { date_sort } from "../scripts/utils";
import SaySayItem from "../components/SaySayItem.astro";
import BasicCard from "../components/BasicCard.astro";
const says = date_sort(await getCollection("says"));
const pageTitle = "Says";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex justify-center items-center back-grid">
    <BasicCard id="say-container" class="w-[50%]">
      {says.map((say: any) => <SaySayItem say={say} />)}
    </BasicCard>
  </div>
</BaseLayout>

<style>
  #say-container {
    padding: 30px;
    margin-top: 30px;
  }
</style>
