---
import { author_info } from "../config/site.js";
import BasicCard from "./BasicCard.astro";
const announcement = author_info.announcement;
const icon = `${announcement.icon} born`;
const contents = announcement.content;
const {class:className, ...rest} = Astro.props;
---

<BasicCard id="announcement" class={"max-w-200 transition"+" "+className} {...rest} >
  <!-- 公告标题 -->
  <h2>
    <span class="text-slate-600">{announcement.title}</span>
    <i class={icon}></i>
  </h2>

  <!-- 公告内容数组 -->
  <p class="text-slate-500">
    {
      contents.map((content) => (
        <li class="hidden content-box born-blur text-slate-400">{content}</li>
      ))
    }
  </p>
</BasicCard>

<style>
  h2::after {
    content: none;
  }
  h2 {
    margin: 0;
    text-align: center;
  }
  :global(.dark) span {
    color: var(--color-slate-300);
  }
  #announcement {
    padding: 30px;
  }
</style>

<script>
  const contentBoxs = document.querySelectorAll(".content-box");
  const len = contentBoxs.length;
  let cur = 0;
  contentBoxs[0].classList.remove("hidden");

  const timer = setInterval(() => {
    cur + 1 >= len ? (cur = 0) : cur++;
    update();
  }, 5000);

  function update() {
    contentBoxs.forEach((e) => {
      e.classList.add("hidden");
      contentBoxs[cur].classList.remove("hidden");
    });
  }
</script>
