---
const {post: p} = Astro.props;
import { get_title } from "../scripts/utils.js";
import { article } from '../config/site.js'
const cover_default = article.default_cover;
const title = get_title(p);
---
{ p.data?.visible !== false &&
<li class="list-none!">
  <a class="float-left p-5 mr-5 shadow hover:shadow-md hover:transition transition" href={p.url}>
    <!-- 文章封面 -->
    <img class="w-50 max-w-50! h-30 object-cover" src={p.data?.thumb || p.data?.index_img || cover_default} alt="文章封面">
  </a>
  <div class="">
    <h2 class="cursor-pointer text-xl hover:transition text-shadow-2xs">
    {/* 文章标题 */}
    <a href={'/posts/'+p.slug}>{article.use_frontmatter_title ? p.data?.title || title : title}</a>
    {p.data?.sticky && <i class="fa-solid fa-thumbtack"></i>}
    </h2>
    {/* 文章摘要 */}
    {<p class="text-sm text-slate-500">{
      p.data?.excerpt || p.data?.description || p.body?.split('<!-- more -->')[0].slice(0,article.excerpt_size)
    }</p>}
  </div>
</li>
}

<style>
  h2 {
    border: none;
  }
  h2::after {
    content: '';
  }
  a {
    color: var(--color-slate-700);
    transition: color .4s ease-in-out;
  }
  a:hover {
    text-decoration: none;
    color: var(--color-sky-700);
  }
  a::after {
    display: none;
  }
  h2:hover::after {
    content: '';
  }
</style>