---
const {post: p} = Astro.props;
import { get_title, style_img } from "../scripts/utils.js";
import { article } from '../config/site.js'
const cover_default = article.default_cover;
const title = get_title(p);
---
{ <li class="list-none! born max-md:flex max-md:flex-col">
  {/* 左侧封面 */}
  <a id="left-img" style={style_img(p.data?.thumb || cover_default)} class="float-left max-md:h-50 max-md:w-full w-50 h-30 shadow hover:shadow-md hover:transition transition bg-cover bg-center" href={'/posts/'+p.slug}></a>

  {/* 右侧文章信息 */}

  <div>
    <h2 class="cursor-pointer text-xl hover:transition text-shadow-2xs">
      {/* 文章标题 */}
      <a href={'/posts/'+p.slug}>{article.use_frontmatter_title ? p.data?.title || title : title}</a>
      {p.data?.sticky && <i class="fa-solid fa-thumbtack born-full"></i>}
    </h2>
    {/* 文章摘要 */}
    {<p class="text-sm text-slate-500">{
      p.data?.excerpt || p.data?.description || p.body?.split('<!-- more -->')[0].slice(0,article.excerpt_size)
    }</p>}
  </div>
</li>}

<style>
  h2 {
    border: none;
  }
  h2::after {
    content: '';
  }
  a {
    color: var(--color-slate-700);
    transition: color .4s ease-in-out;
  }
  a:hover {
    text-decoration: none;
    color: var(--color-sky-700);
  }
  a::after {
    display: none;
  }
  h2:hover::after {
    content: '';
  }
  :global(.dark) h2 a {
    color: var(--color-gray-300);
  }
  :global(.dark) h2 a:hover {
    color: var(--color-gray-400);
  }
  :global(.dark) p {
    color: var(--color-slate-400);
  }
  #left-img {
    --offset: 20px;
    margin-right: var(--offset);
    margin-bottom: var(--offset);
  }
</style>