---
const {class:className, id, ...rest} = Astro.props;
import {card} from '../config/style.js';
---

<div id={id} class={`transition bg-white ${card.radius} ring-2 ring-indigo-200/20 shadow fade-in `+ className} {...rest}>
  <slot />
</div>

<style>
  :global(.dark) div {
    background-color: var(--color-slate-700);
  }
</style>