---
const { title, url, month } = Astro.props;
---

<li class="list-none! text-xl">
  <span>{month}月</span>
  <a href={url}>{title}</a>
</li>

<style>
  a {
    color: var(--color-slate-500);
  }
  :global(.dark) a {
    color: var(--color-slate-300);
  }
</style>