<div class="born">
  <div id="card" class="gap-2 shadow bg-white rounded flex flex-col items-center">
    <slot />
  </div>
</div>


<style>
  * {
    margin: 0;
    padding: 0;
  }
  #card {
    padding: 5px;
  }
  :global(.dark) #card {
    background-color: var(--color-slate-700);
  }
</style>