---
const {posts} = Astro.props;
import {article} from "../config/site"
import ArticleContainerItem from './ArticleContainerItem.astro';
let size = article.home_size;
const sort_posts = posts.sort((a, b) =>  b.data?.sticky || 0 - a.data?.sticky || 0);
console.log(sort_posts);

---
<div id="article-container" class="flex flex-col">
  <ul class="flex rounded flex-col gap-5 shadow p-10 bg-white backdrop-blur-xl">
    {sort_posts.slice(0, article.show_all ? posts.length : size ).filter(p => !p.data?.hidden).map((p:any) => <div class="item"><ArticleContainerItem post={p} /></div>)}
  </ul>
  {!article.show_all && <a href="/blog" class="shadow flex justify-center items-center bg-white h-20 hover:cursor-pointer rounded transition"><span class="text-xl text-slate-500 hover:text-slate-400 transition">Read More</span></a>}
</div>