---
const { posts, page, maxSize, class:className } = Astro.props;
import BasicCard from "../components/BasicCard.astro";
import ArticleContainerItem from "./ArticleContainerItem.astro";
import Pagination from "./Pagination.astro";
---

<BasicCard id="home-article-container" class={"flex flex-col gap-5 "+className} >
    {
      posts.map((p: any) => (
          <div class="item">
            <ArticleContainerItem post={p} />
          </div>
        ))
    }
  <Pagination page={page} maxSize={maxSize} />
</BasicCard>

<style>
  #home-article-container {
    padding: 30px;
  }
</style>
