---
const { photos, radius, class: className, ...rest } = Astro.props;
const radius_style = radius || "0px";
---

<!-- 文章内 photos 滑动头图 -->
<div id="gallery" class="w-full h-50 flex justify-center">
  <ul
    class="flex gap-0! w-full h-full born justify-center items-center"
  >
    {
      photos?.length > 0 &&
        photos.map((url: any) => (
          <li
            title="gallery"
            class="post-img h-full hover:cursor-pointer list-none! bg-cover bg-center"
            style={`background-image: url(${url});`}
          />
        ))
    }
  </ul>
</div>

<style define:vars={{ radius_style }}>
  li::before {
    content: none;
  }
  ul {
    padding: 0;
  }
  .post-img {
    flex: 1;
    transition: all 1s ease-out;
  }

  .post-img:nth-child(1) {
    flex: 5;
    border-top-left-radius: var(--radius_style);
    border-bottom-left-radius: var(--radius_style);
  }

  .post-img:nth-last-child(1) {
    border-top-right-radius: var(--radius_style);
    border-bottom-right-radius: var(--radius_style);
  }
</style>

<script>
  const imgs = document.querySelectorAll(".post-img");

  imgs.forEach((img: any) => {
    img.addEventListener("click", () => {
      minimizeAllImages();
      img.style.flex = "5";
    });
  });

  function minimizeAllImages() {
    imgs.forEach((img: any) => {
      img.style.flex = "1";
    });
  }
</script>
