---
import { nav } from '../config/nav.js'
---
<div id="top-holder" class="w-full h-15"> </div>

<div id="navigation" class="born opacity-100 shadow scale-100 py-2 z-10 fixed top-2 left-[50%] -translate-x-[50%] bg-white flex gap-2 outline-1 outline-indigo-400/50 rounded-2xl px-2 text-slate-500" >
  <nav id="nav-item" class="flex gap-2">
    {nav.map(item => <a class="text-2xl" href={item.src}>
      {item?.icon && <i class={item.icon+" born"}></i>}
      <span class="">{item.title}</span>
    </a>)}
  </nav>
</div> 

<style>
#top-holder {
  margin-bottom: none;
}
a {
  transition: color 0.2s ease-out;
  color: var(--color-slate-600);
  text-decoration: none !important;
}
a:hover {
  color: var(--color-blue-400);
}
</style>

<script>
  const nav = document.querySelector('#navigation');
  const top = document.documentElement.scrollTop;
  
  let last = top;
  window.addEventListener('scroll', () => {
    const cur = window.pageYOffset;
    if (cur > last) {
      nav?.classList.add('nav-hide')
    } else if (cur < last) {
      nav?.classList.remove('nav-hide')
    }
    last = cur;
  })
</script>

<style>
  #navigation {
    transition: all .4s ease-out;
  }
  .nav-hide {
    transition: all .4s ease-out;
    transform: translateY(-200px) scale(0);
    opacity: 0;
  }
</style>