---
import { nav } from "../config/nav.js";
import { site } from "../config/site";
import BasicCard from "./BasicCard.astro";
---

<div id="top-holder" class="w-full h-15 max-md:h-30"></div>

<BasicCard
  id="navigation"
  class="z-9 fixed top-6 left-[50%] -translate-x-[50%] flex gap-2 max-md:w-full max-md:top-0"
>
  <a href="/" id="site-title" class="font-mono text-2xl cursor-pointer"
    >{site.title}</a
  >
  <nav id="nav-item" class="flex items-center gap-10 max-md:gap-2 max-md:w-full max-md:justify-around">
    {
      nav.map((item) => (
        <a class="text-2xl px-1 flex items-center" href={item.src}>
          {item?.icon && 
            <i class={item.icon + " born"} />
          }
          <span class="whitespace-nowrap max-md:hidden">{item.title}</span>
        </a>
      ))
    }
  </nav>
</BasicCard>

<style>
  #top-holder {
    margin-bottom: 0;
  }
  a {
    transition: color 0.2s ease-out;
    color: var(--color-slate-600);
    text-decoration: none !important;
  }
  a::after {
    border-radius: var(--radius-2xl);
  }
  a:hover {
    color: var(--color-blue-400);
  }
  /* 暗色主题 */
  :global(.dark) :global(#navigation) {
    background-color: var(--color-slate-800);
  }

  :global(.dark) :global(#navigation) a {
    color: var(--color-gray-400);
  }
  #navigation {
    transition: all 0.4s ease-out;
    padding: 5px 10px;
  }
  .nav-hide {
    transition: all 0.4s ease-out;
    transform: translateY(-200px) scale(0);
    opacity: 0;
  }
  #site-title::after {
    content: none;
  }
  @media screen and (max-width: 48rem) {
    #navigation {
      border-radius: 0;
    }
    .nav-hide {
      transform: translateY(-200px);
    }
    a::after {
      content: none;
    }
    a:hover {
      color: var(--color-slate-600);
    }
  }
</style>

<script>
  const nav = document.querySelector("#navigation");
  const top = document.documentElement.scrollTop;

  let last = top;
  window.addEventListener("scroll", () => {
    const cur = window.pageYOffset;
    if (cur > last) {
      nav?.classList.add("nav-hide");
    } else if (cur < last) {
      nav?.classList.remove("nav-hide");
    }
    last = cur;
  });
</script>
