---
import { article } from "../config/site";
const { page, maxSize, isHome } = Astro.props;

const lastUrl = page ? `/blogs/${(page-1 > 0) ? page-1 : page}` : "/"

const nextUrl = page ? `/blogs/${(page+1 <= maxSize) ? page+1 : page}` : "/blogs/2"
---

{!article.show_all && 
<div class="flex justify-center h-10 -translate-y-2">
  {page > 1 && page !== undefined && <a href={lastUrl} class="shadow flex-1 flex justify-center items-center bg-white hover:cursor-pointer transition">
    <span class="text-xl text-slate-500 hover:text-slate-400 transition">{"Last Page"}</span>
  </a>}

  {(page < maxSize || page === undefined) && <a href={nextUrl} class="shadow flex-1 flex justify-center items-center bg-white hover:cursor-pointer transition">
    <span class="text-xl text-slate-500 hover:text-slate-400 transition">{"Next Page"}</span>}
  </a>
</div>
}


<style>
  {/* a::after {
    border-radius: var(--radius-xl);
  } */}
</style>