---
const { name, link, color, dark_color:darkColor } = Astro.props;
---

<a class="text-white! p-2 rounded shadow" href={link}>{name}</a>

<style define:vars={{color, darkColor}}>
a {
  background-color: var(--color);
}
:global(.dark) a {
  background-color: var(--darkColor);
}
</style>