---
const {tag} = Astro.props;
---
<p class="born rounded-xl p-2 m-0! bg-slate-200 relative transition">
  <a id="tag-text" class="transition" href={`/tags/${tag}`}>{tag}</a>
</p>

<style>
  a::after {
    content: none;
  }
  :global(.dark) p {
    background-color: var(--color-slate-800);
  }
  p:hover {
    cursor: pointer;
    background: var(--color-slate-800);
  }
  p>a {
    color: var(--color-slate-600);
  }
  p:hover>a {
    color: var(--color-slate-300);
  }
  :global(.dark) p>a   {
    color: var(--color-slate-300);
  }
  :global(.dark) p:hover {
    background-color: var(--color-slate-400);
  }
  :global(.dark) p:hover #tag-text {
    color: var(--color-slate-600);
  }
</style>