---
import BasicCard from "./BasicCard.astro";
const {tag} = Astro.props;
---
<BasicCard id="tag" class="relative transition">
  <a id="tag-text" class="transition" href={`/tags/${tag}`}>{tag}</a>
</BasicCard>

<style>
  a::after {
    content: none;
  }
  #tag {
    padding: 5px 10px;
  }
  #tag:hover {
    cursor: pointer;
    background: var(--color-slate-800);
  }
  #tag>a {
    color: var(--color-slate-600);
  }
  #tag:hover>a {
    color: var(--color-slate-300);
  }
  :global(.dark) #tag>a   {
    color: var(--color-slate-300);
  }
  :global(.dark) #tag:hover {
    background-color: var(--color-slate-200);
  }
  :global(.dark) #tag:hover #tag-text {
    color: var(--color-slate-600);
  }
</style>