---
const {class:className, ...rest} = Astro.props;
---

<div id="theme-btn"
     class={"transition size-15 rounded-full fixed z-3 left-5 bg-slate-700 top-5 hover:cursor-pointer "+className} {...rest}>
</div>

<script>
    const themeBtn = document.querySelector('#theme-btn')
    document.addEventListener('DOMContentLoaded', () => {
        init();
        themeBtn?.addEventListener("click", () => {
            updateTheme();
        })
    })

    

    function updateTheme() {
        const hasDark = document.documentElement.classList.contains("dark");
        if (hasDark) {
            setLight();
            localStorage.theme = 'light';
        } else {
            setDark();
            localStorage.theme = 'dark';
        }
    }
    

    function init() {
        if (localStorage.theme === 'dark' || !localStorage.theme) {
            setDark();
        } else if (localStorage.theme === 'light') {
            setLight();
        }
    }
    function setDark() {
        document.documentElement.classList.add('dark');
    }
    function setLight() {
        document.documentElement.classList.remove('dark');
    }
</script>

<style>
    :global(.dark) #theme-btn {
        background-color: var(--color-slate-300);
    }
</style>