---
const { headings, class: className, ...rest } = Astro.props;
const show = headings?.length > 0;
import BasicCard from "./BasicCard.astro";
import TOCItem from "./TOCItem.astro";
---

{
  show && (
    // 绝对定位目录
    <nav id="TOC" class={"max-w-100 h-full min-w-100 right-0 top-0 flex items-center"+" "+className} {...rest}>
      {/* 目录元素容器 */}
        <BasicCard id="toc-container" class="flex w-full h-fit max-h-[calc(100%-6rem)] flex-col">
          {headings.map((heading: any) => (
            <TOCItem heading={heading} headings={headings} />
          ))}
        </BasicCard>
    </nav>
  )
}

<style lang="stylus">
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #TOC {
    padding: 2rem;
    transition: transform .4s ease-out;
    /* 目录元素容器 */
    #toc-container {
      padding: 10px;
      word-break: break-word;
      overflow-x: auto;
    }
    & {
      transform: translateX(30rem);
    }
    
  }
  @media (min-width: 80rem) {
    #TOC {
      transform: none;
    }
  }
  @media (min-width: 64rem) {
  }
</style>

