---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HomeBackground from "../../components/HomeBackground.astro"
import HomeArticleContainer from '../../components/HomeArticleContainer.astro'
import { getCollection } from "astro:content";
import { article } from "../../config/site";
import AuthorCard from "../../components/AuthorCard.astro";
import MusicPlayer from "../../components/MusicPlayer.astro";
import VideoPlayer from "../../components/VideoPlayer.astro";
import { sticky_sort } from "../../scripts/utils";


export async function getStaticPaths() {
  const allPosts = sticky_sort(await getCollection('blog'));
  const size = article.page_size;
  const maxSize = Math.ceil(allPosts.length / size);

  let res: array = [];
  let page_num = Math.ceil(allPosts.length / size);
  for (let page = 1; page <= page_num; page ++) {
    const curSlice = (page - 1) * size;
    res.push({
      params: { page },
      props: { 
        allPosts: allPosts.slice(curSlice, size * page), 
        page, 
        maxSize 
      }
    });
  }
  // 9
  //       1         2        3
  // 0 1 2(3)/ 3 4 5(6)/ 6 7 8(9)
  return res;
}

// 每页中获取到的数据

const { allPosts: posts, page, maxSize } = Astro.props;
---

<BaseLayout>
  <HomeBackground />
  <div class="flex px-50 gap-5 justify-center mt-10">
    <div id="left-container" class="flex-2">
      { posts.length > 0 && <HomeArticleContainer posts={posts} page={page} isHome={false} maxSize={maxSize} />}
    </div>
    <aside id="right-container" class="flex flex-1 flex-col gap-5">
      <AuthorCard />
      <MusicPlayer />
      <VideoPlayer />
    </aside>
  </div>
</BaseLayout>